<!DOCTYPE html>
<head>
    <title>HTML and CSS "Hello World"</title>
    <style>
        body {
            background-color: #2dc0ff;
        }

        h1 {
            color: black;
            font-size: 30px;
            font-family: Menlo, Monaco, fixed-width;
        }

        p {
            color: rgb(204, 204, 204);
            font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
        }
    </style>
</head>
<body>
    <h1>Hello World!</h1>
    <p>This is a very basic "Hello World" example made up in HTML and CSS. See if you can change the size of the header text above.</p>
</body>
</html>